body{
    background-color:rgb(220, 246, 247);
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    background:#5B504E;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
}

.col-md-3{
    margin: 5px;
    border: 2px solid gray;
    background-color: rgb(255, 254, 254);
    width: 200px;
    height: 200px;
    .cantidad{
        color:green;
        font-size: 15px;
        font-weight: bold;
    }
}

#compra{
    width: 100%;
    background-color: rgb(218, 218, 218);
    display: inline-block;
    border: 1 px solid gray;
    border-radius: 3px;
    margin: 20px 50px 20px 0;
    position: sticky;
    top: 20px;

    #listaCompra>div{
        width: 60%;
        display: none;
        border: 0.5px solid gray;
        border-radius: 5px;
        margin: 5px;
        list-style:none;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        .btn-danger{
            width: 20px;
            font-size: 8px;
            height: 10px;
        }
    }
    
}

ul{
    text-align: left;
}

#total{
    margin-top: 15px;
}


